{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Loan creation",
    "description" : "API to create and manage various types of loans such as personal, commercial, mortgage, line of credit, etc",
    "version" : "v9.0.0"
  },
  "servers" : [ {
    "url" : "https://api.temenos.com/api/v9.0.0//holdings"
  } ],
  "security" : [ {
    "apiKey" : [ ]
  } ],
  "tags" : [ {
    "name" : "RETAIL"
  } ],
  "paths" : {
    "/loans/buyNowPayLater" : {
      "post" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Creates a business banking loan for a single or joint customer",
        "description" : "Creates a business banking loan for a single customer or more than one customer(like a joint account relationship) with the customer identifier, customer role, loan currency details",
        "operationId" : "createBNPLLoan",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/BNPLLoan"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "createBNPLLoanResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BNPLLoanResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      }
    },
    "/loans/balances" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieve the buy now pay later loan details",
        "description" : "Retrieves the loans details for a given customer id and alternate id or arrangementid of the buy now pay later loan.",
        "operationId" : "getLoanInformation",
        "parameters" : [ {
          "name" : "customerId",
          "in" : "query",
          "description" : "Identifier of the customer",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "alternateId",
          "in" : "query",
          "description" : "An Alternate Identification for the Deal. This can be used to retrieve the Deal for amendment",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "Indicates an unique identifier of an account",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "x-ballerina-name" : "pageSize"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "x-ballerina-name" : "pageStart"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "pageToken"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "LoanInformationResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoanInformationResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessQueryErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemQueryErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/loans/{loanId}/cancellations" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Performs the loan cancellation for buy now pay later service",
        "description" : "Performs the full loan cancellation incase of preshipment return of products under buy now pay later loan.",
        "operationId" : "cancelArrangement",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/Arrangement"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "cancelArrangementResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      },
      "parameters" : [ {
        "name" : "loanId",
        "in" : "path",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/loans/consumerLoans" : {
      "post" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Creates the creation of consumer loan for the given product",
        "description" : "creates a consumer loan for the given product",
        "operationId" : "createConsumerLoan",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConsumerLoan"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "createConsumerLoanResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsumerLoanResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      }
    },
    "/loans/personalLoans" : {
      "post" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Creates the creation of consumer loan for the given product",
        "description" : "creates a consumer loan for the given product",
        "operationId" : "createpersonalLoans",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConsumerLoan"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "createpersonalLoansResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsumerLoanResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      }
    },
    "/loans/vehicleLoans" : {
      "post" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Creates the creation of consumer loan for the given product",
        "description" : "creates a consumer loan for the given product",
        "operationId" : "createvehicleLoan",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConsumerLoan"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "createvehicleLoanResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsumerLoanResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      }
    },
    "/loans" : {
      "post" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Creates a loan for the given product",
        "description" : "Creates a loan for the given product",
        "operationId" : "createLoans",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConsumerLoan"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "createLoansResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConsumerLoanResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      }
    },
    "/loans/{loanId}/simulations/paymentHolidays" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves payment holiday simulate details for the loan",
        "description" : "Retrieves payment holiday simulation details for the loan such as payment type, holiday date, original payment amount and new payment amount",
        "operationId" : "getPaymentHolidaySim",
        "parameters" : [ {
          "name" : "loanId",
          "in" : "path",
          "description" : "Denotes the arrangement id of the loan",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "x-ballerina-name" : "pageSize"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "x-ballerina-name" : "pageStart"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "pageToken"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "PaymentHolidaySimResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentHolidaySimResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessQueryErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemQueryErrorResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Simulate payment holiday activity for a loan account",
        "description" : "Simulate payment holiday activity for a loan account",
        "operationId" : "simulatePaymentHoliday",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentHoliday"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "simulatePaymentHolidayResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentHolidayResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      },
      "parameters" : [ {
        "name" : "loanId",
        "in" : "path",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/loans/{loanId}/renegotiations" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Perform the renegotiation of the loan contract details",
        "description" : "Perform the renegotiation of the loan contract details such as payment frequency, interest rates, etc.",
        "operationId" : "updateLoanConditions",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoanConditions"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "updateLoanConditionsResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoanConditionsResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      },
      "parameters" : [ {
        "name" : "loanId",
        "in" : "path",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/loans/{loanId}/accounts" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Update the account conditions of the loan",
        "description" : "Update the account conditions of the loan such as alternate references, posting restrictions, etc",
        "operationId" : "updateLoanAccount",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoanAccount"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "updateLoanAccountResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoanAccountResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      },
      "parameters" : [ {
        "name" : "loanId",
        "in" : "path",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/loans/{loanId}/interestConditions" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Update the interest conditions of the loan",
        "description" : "Update the interest conditions of the loan such as interest rate, spread, margin etc",
        "operationId" : "updateLoanInterest",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoanInterest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "updateLoanInterestResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoanInterestResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      },
      "parameters" : [ {
        "name" : "loanId",
        "in" : "path",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/loans/{loanId}/chargeOffs" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Execute loan charge-off activity to charge-off account balance only",
        "description" : "Execute loan charge-off activity to charge-off account balance only",
        "operationId" : "createChargeOffActivity",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChargeOffActivity"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "createChargeOffActivityResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChargeOffActivityResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      },
      "parameters" : [ {
        "name" : "loanId",
        "in" : "path",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/loans/{loanId}/disbursements" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Disburses the loan commitment amount",
        "description" : "Creates a disbursement of the given loan contracts commitment amount",
        "operationId" : "createLoanDisbursement",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoanDisbursement"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "createLoanDisbursementResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoanDisbursementResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      },
      "parameters" : [ {
        "name" : "loanId",
        "in" : "path",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/loans/{loanId}/customers" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Updates the customer for the given loan contract",
        "description" : "Updates the customer for the given loan contract",
        "operationId" : "updateLoansCustomer",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoansCustomer"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "updateLoansCustomerResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoansCustomerResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      },
      "parameters" : [ {
        "name" : "loanId",
        "in" : "path",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/loans/{loanId}/commitmentIncreases" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Increases the commitment amount of the given loan contract",
        "description" : "Increases the commitment amount of the loan",
        "operationId" : "updateLoanTopupAmount",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoanTopupAmount"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "updateLoanTopupAmountResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoanTopupAmountResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      },
      "parameters" : [ {
        "name" : "loanId",
        "in" : "path",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/loans/{loanId}/commitmentDecreases" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Decreases the commitment amount of the given loan contract",
        "description" : "Decreases the commitment amount of the loan",
        "operationId" : "updateLoanDecreaseAmount",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoanDecreaseAmount"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "updateLoanDecreaseAmountResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoanDecreaseAmountResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      },
      "parameters" : [ {
        "name" : "loanId",
        "in" : "path",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/loans/{loanId}/repaymentDates" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Perform repayment date change for the loan",
        "description" : "Perform repayment date change for the loan product with details like loan reference, product id , etc.",
        "operationId" : "updateRepaymentDate",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/RepaymentDate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "updateRepaymentDateResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RepaymentDateResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      },
      "parameters" : [ {
        "name" : "loanId",
        "in" : "path",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/loans/{loanId}/writeOffs/balances" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Perform a loan balance write off",
        "description" : "Perform a write off of the balances such as principal or interest or charge amount for the unpaid loans",
        "operationId" : "initiateWriteOffBalanceLoans",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/WriteOffBalanceLoans"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "initiateWriteOffBalanceLoansResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WriteOffBalanceLoansResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      },
      "parameters" : [ {
        "name" : "loanId",
        "in" : "path",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/loans/{loanId}/writeOffs" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Perform a loan write off of balances and bills",
        "description" : "Perform a write off of the balances and bills such as principal or interest or charge amount for the unpaid loans",
        "operationId" : "initiateWriteOffLoans",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/WriteOffLoans"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "initiateWriteOffLoansResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WriteOffLoansResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      },
      "parameters" : [ {
        "name" : "loanId",
        "in" : "path",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/loans/{loanId}/writeOffs/bills" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Perform a write off bills of unpaid loans",
        "description" : "Perform a write off of the bills such as interest or charge amount for the unpaid loans",
        "operationId" : "initiateWriteOffBillLoans",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/WriteOffBillLoans"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "initiateWriteOffBillLoansResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WriteOffBillLoansResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      },
      "parameters" : [ {
        "name" : "loanId",
        "in" : "path",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/loans/linkedRateLoans" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create a personal loan account with linked rate",
        "description" : "Create a personal loan account with linked rate",
        "operationId" : "createLinkedRateLoan",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/LinkedRateLoan"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "createLinkedRateLoanResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LinkedRateLoanResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      }
    },
    "/loans/commercialLoans" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create a commercial or business account",
        "description" : "Create a commercial or business account",
        "operationId" : "createCommercialLoan",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/CommercialLoan"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "createCommercialLoanResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommercialLoanResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemArrangementErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "payload"
      }
    },
    "/loans/mortgages" : {
      "post" : {
        "tags" : [ ],
        "summary" : "Create a mortgage loan",
        "description" : "Create a mortgage loan",
        "operationId" : "createMortgage",
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "x-ballerina-name" : "validateOnly"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channelName",
          "in" : "header",
          "description" : "Name of the (digital) channel registered by the Customer",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/Mortgage"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "createMortgageResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MortgageResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArrangementErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessArrangementErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "content" : {
              "application/json" : {
[...]
